:gloabl{
    .for-container{
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 150px !important;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
}
}